body {
    background-color: lightblue;
    position: relative;
}

.black {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: black;
    left: 0px;
    top: 0px;
}

.scroll {
    height: 2000px;
}